* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

/* width */
::-webkit-scrollbar {
  width: 13px;
  box-shadow: inset 1px 0px 11px 7px rgb(39 39 39);

}


/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#FC466B, #3F5EFB);
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#7F00FF, #E100FF);

}